spring:
  application:
    name: api
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: root
    password: secret
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect


management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      probes:
        enabled: true
      show-details: always

server:
  port: 8081
  servlet:
    context-path: /api/v1
